##
# Host Database
#
# localhost is used to configure the loopback interface
# when the system is booting.  Do not change this entry.
##
127.0.0.1	localhost
255.255.255.255	broadcasthost
::1             localhost

# Local host sub domains
127.0.0.1	mac3
127.0.0.1	corp.local
127.0.0.1	gn-blog.localhost
127.0.0.1	gn-support.localhost
127.0.0.1	gnsub.local
127.0.0.1	goalrealizer.local
127.0.0.1	pmax.local
127.0.0.1	wp_sample.localhost

# Local network
# none

# Outer network
49.212.179.187	site1
#133.242.235.161	sc2sv4 sc2sv4.ef-sol.com
#133.242.238.153	sc2ap2 sc2ap2.goalnavi.com
