# .zshrc

# Setup colors
autoload -Uz colors
colors

#===== Prompt =====
# Ref. https://coderwall.com/p/rhrf8a/colorize-zsh-prompt-based-on-last-return-code
PROMPT="%F{green}-- %D %*%f %(?.%F{green}.%F{red})%?%f
%F{cyan}%n@%m %~%f
%# "

# リポジトリ情報を表示
# Ref. http://tkengo.github.io/blog/2013/05/12/zsh-vcs-info/
autoload -Uz vcs_info
setopt prompt_subst
zstyle ':vcs_info:git:*' check-for-changes true
zstyle ':vcs_info:git:*' stagedstr "%F{yellow}!"
zstyle ':vcs_info:git:*' unstagedstr "%F{red}+"
zstyle ':vcs_info:*' formats "%F{green}%c%u[%b]%f"
zstyle ':vcs_info:*' actionformats '[%b|%a]'
precmd () { vcs_info }
RPROMPT='${vcs_info_msg_0_}'

#===== Complement =====
autoload -Uz compinit
compinit

#===== History =====
HISTSIZE=1000000
SAVEHIST=1000000

# 同じコマンドをヒストリに残さない
setopt hist_ignore_all_dups

# スペースから始まるコマンド行はヒストリに残さない
setopt hist_ignore_space

# ヒストリに保存するときに余分なスペースを削除する
setopt hist_reduce_blanks

# ヒストリを全ターミナルで共有
setopt share_history

# 矢印キーで履歴検索
# ※compinitの後に設定しないと無効になる
autoload -U up-line-or-beginning-search
autoload -U down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search
bindkey "^[[A" up-line-or-beginning-search  # Up key
bindkey "^[[B" down-line-or-beginning-search  # Down key

#===== Aliases =====
alias ll="ls -lG"
alias lla="ls -laG"
alias psg="ps aux | grep"
alias gn_actions="(pushd ~/dev/goalnavi && bin/rake 'goalnavi:actions[shimotori,]' && popd)"
alias gn_taskgen="(cd ~/dev/goalnavi && bin/rake goalnavi:taskgen && bin/rake jobs:work)"
alias backup="sh ~/dev/tools_ruby/backup/backup.sh"
alias bkup_keepass="python ~/dev/tools_python/bkup_keepass/bkup_keepass.py -l ~/Dropbox/SmartPhone/Private/shimotori.kdbx -r /Volumes/user/Users/Eiichi/Backup/keepass"

#===== anyenv =====
if [ -e $HOME/.anyenv ]; then
  export PATH="$HOME/.anyenv/bin:$PATH"
  eval "$(anyenv init -)"
fi
